.classpath
.project
.settings
*.versionsBackup
/atic-api/target/
/atic-server/nbproject/
/atic-server/target/
/atic-sqlite-jmh/target/
/atic-sqlite-tdb2tests/target/
/atic-sqlite/nbproject/
/atic-sqlite/target/
/rdfpatch-sqlite/nbproject/
/rdfpatch-sqlite/target/
atic-server-home
dependency-reduced-pom.xml
nb-configuration.xml
nbactions.xml
nbproject
passwords.json.generated
