<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/all.min.css" rel="stylesheet" />
        <link href="css/loader.css" rel="stylesheet" />
        <link href="css/link.css" rel="stylesheet" />

        <script src="js/bootstrap.bundle.min.js" ></script>
        <script src="js/vue.global.prod.js" ></script>
        <script src="js/axios.min.js"></script>

        <link rel="shortcut icon" href="favicon.ico">
        <title>Home</title>
    </head>
    <body>
        <div class="container py-4" id="app">

            <div class="row align-items-center">
                <div class="col d-flex align-items-center m-2">
                    <h2 class="mb-0">Home</h2>
                </div>

                <div class="col-auto ms-auto me-2" v-if="user">
                    <span class="me-2" :title="user.username">
                        <i class="fa fa-user"></i> {{ user.firstname }} {{ user.lastname }}
                    </span>
                    <button class="btn btn-sm btn-danger" @click="postLogout()" title="Logout"><i class="fa fa-sign-out-alt"></i></button>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-lg-6">

                    <h4>Management</h4>
                    <ul>
                        <li><a href="reg.html" target="_blank">Registration</a></li>
                        <li><a href="changepw.html" target="_blank">Change Password</a></li>
                        <li><a href="users.html" target="_blank">Users</a></li>
                        <li><a href="querylogger-demo.html" target="_blank">Query Logger</a></li>
                        <li><a href="/about" target="_blank">About</a></li>
                    </ul>


                    <h4>Demos</h4>
                    <ul>
                        <li><a href="graph-demo.html" target="_blank">Graph</a></li>
                        <li><a href="molecule-demo.html" target="_blank">Molecule</a></li>
                        <li><a href="person-demo.html" target="_blank">Person</a></li>
                        <li><a href="upload-demo.html" target="_blank">Upload</a></li>
                        <li><a href="rml-demo.html" target="_blank">RML</a></li>
                        <li><a href="agent-demo.html" target="_blank">Agents</a></li>
                    </ul>

                    <h4>Services</h4>
                    <ul>
                        <li><a href="/sparql" target="_blank">SPARQL</a></li>
                    </ul>
                </div>

                <div v-if="error_msg" class="text-danger text-center mt-3">
                    {{ error_msg }}
                </div>
            </div>
        </div>

        <div class="row">
            <div style="background: white; font-size: 12px;" class="fixed-bottom">
                &nbsp;

                &copy; 2026 <a href="https://www.dfki.de/" target="_blank"><img src="img/dfki_Logo_digital_black.png" style="height: 12px;"></a>
            </div>
        </div>


        <script>
        const {createApp} = Vue;

        createApp({
            data() {
                return {
                    error_msg: "",
                    user: null
                };
            },
            created() {
                this.getAuthMe();
            },
            methods: {
                getAuthMe() {
                    axios.get('/auth/me').then(response => {
                        this.user = response.data;
                    });
                },
                postLogout() {
                    axios.post('/auth/logout').then(response => {
                        window.location.href = response.data.redirect;
                    });
                }
            }
        }).mount('#app');
        </script>
    </body>
</html>
